*{ padding: 0; margin: 0; font-size: 13px; list-style: none;}
header{
    display: flex;
    justify-content: space-between;
}
#left{ margin-right: 200px;}
div.serch{ display: flex; justify-content: center;}
div#text{ height: 20px;}
p { user-select: none;}
p.c{ text-align: center; }
a{text-decoration: none; color: #46B1E1; user-select: none;}
a.user{
    margin-left: 5px; margin-right: 5px;
}
a#smallmenu{ display: flex; margin-top: 10px; margin-left: 15px; margin-right: 15px;
    width: 50px; height: 50px; }
body{ font-size: 13; color: #46b1e1; }
img#menu{ margin: 5px 0 0 5px;
    width: 50px; height: 50px; cursor: pointer;
}
img.WReLi{ width: 130px; padding-right: 5px; }
img.smallmenu{ width: 50px; height: 50px;}
input[type="text"]{ outline: none; border: solid 1px #46b1e1;
    height: 50px; width: 340px; margin-top: 8px; padding-left: 5px;
    font-size: 15px;
}
img.serch{
    margin-top: 8px; height: 52px; 
}
nav{ display: flex; justify-content: center; }
/*소개 도서/이벤트 소식*/
.slider { position: relative; width: 100%; height: 100%;
    border: solid 1px red; border-radius: 15px; background-color: #f0f8ff;
    overflow: hidden;
}
.slides { display: flex; }
.slide { min-width: 100%; }
.slide img {
    width: 100%; height: 100%;
    object-fit: cover;
}
.controls { position: absolute; width: 95%; bottom: 10px; left: 50%; transform: translateX(-50%);
    display: flex; justify-content: space-between; align-items: center;
}
.dots { display: flex; justify-content: center; align-items: center; }
.dot { width: 20px; height: 20px;
    margin: 0 5px; background-color: #b0c4de; border-radius: 50%;
    cursor: pointer;
}
.dot.active { background-color: #4682b4; }
.arrows { display: flex; justify-content: space-between; width: 100px; }
.arrow { font-size: 40px; color: #4682b4; cursor: pointer; 
    user-select: none;
}
aside { display: flex; justify-content: center; margin: 2% 12% 0% 12%;
    height: 500px;
}
div#a{ display: flex; justify-content: space-between;}
div#newbook { margin: 4% 22px 4% 22px; }
h3{ font-size: 22px; width: 25%;}
main{ border: solid 1px red; margin: 4% 15% 4% 15%; height: 450px;}
section{ border: solid 1px #46B1E1; border-radius: 25px; display: flex; justify-content: space-between;}
article{ border: solid 1px red; height: 200px; width: 150px; }
img.art{ border: solid 1px blue; height: 200px; width: 150px; }
p.ml { font-size: 18px;}
p.sl { font-size: 10px;}
p.l { font-size: 15px;}
input[type=button]{
    background-color: white; text-align: center; color: #3992bb;
    margin: 5px; border: solid 1.5px #46B1E1; border-radius: 8px;
    width: 70px; height: 36px; 
}
input[type=button]:hover{
    background-color: silver;
}
.carousel { position: relative; width: 80%; height: 400px; overflow: hidden; }
.carousel-inner { display: flex; justify-content: center; align-items: center;
    position: relative; width: 100%; height: 100%;
}
.carousel-item { position: absolute; transition: transform 1s, opacity 1s; }
.carousel-item img { display: block; width: 100%; height: auto;}
.carousel_item.prev-2, .carousel_item.next-2 { transform: translateX(-150%) scale(0.5); z-index: 0;}
.carousel_item.prev, .carousel_item.next { transform: translateX(-120%) scale(0.7); z-index: 1;}
.carousel-item.active { transform: translateX(0) scale(1); z-index: 2; }
footer { border: solid 1px red; height: 80px; }
.hidden-content { display: none; position: absolute; top: 55px; left: 5px;
    border: solid 2px #46B1E1; width: 150px; height: 250px; border-bottom: none;
    background-color: white;
}
.trigger:hover { cursor: pointer; }
li { position: none; border-bottom: solid 2px #46B1E1; height: 30px; margin-top: 10px; text-align: center; }
.container {
    position: relative;
    display: inline-block;
}
.hide { display: none; position: absolute; top: -11.5px; left: 119px;
    border: solid 1px #46b1e1; background-color: white;
}
.container:hover .hide {
    display: block;
}