*{ padding: 0; margin: 0; }
img.WReLi{ position: relative; left: 700.5px; width: 135px; height: 70px;}
img.login{
    position: relative; left: 364px;
    height: 40px;
}
nav{ display: flex; margin-top: 5px; margin-bottom: 5px; font-size: 13px;}
h3{ font-size: 20px; position: relative; left: 16%; top: 5px; font-weight: 500; color: #46B1E1; }
img.icon{ position: relative; left: 15%; }
article{ margin-left: 15%; margin-right: 15%; height: 265px; border: solid 1px #46B1E1;}
article.terms-container { border-bottom: none;
    font-size: 13px;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
}
div.bottom{ 
    border: solid 1px #46B1E1; border-top: none; display: flex; background-color: #E6F5FB;
    margin-left: 15%; margin-right: 15%; height: 35px
}
input[type=checkbox]{
    position: relative; background-color: white; text-align: center; color: #3992bb;
    margin: 5px; border: solid 1.5px #46B1E1;
    width: 25px; height: 25px; 
}
input[type=checkbox]:hover{
    background-color: silver;
}

input[type=button]{
    position: relative; left: 45%; background-color: white; text-align: center; color: #3992bb;
    margin: 5px; border: solid 1.5px #46B1E1; border-radius: 8px;
    width: 67px; height: 36px; 
}
input[type=button]:hover{
    background-color: silver;
}