*{ padding: 0; margin: 0; font-size: 13px; list-style: none; }
body{
    color: #46B1E1; user-select: none;
}
header{ border: solid 1px red; 
    display: flex; justify-content: space-between;
}
a{ text-decoration: none; color: #46B1E1; user-select: none;
    margin-left: 5px; margin-right: 5px;
}
img.menu{ margin: 5px 0 0 5px;
    width: 50px; height: 50px; 
}
div.serch{ display: flex; justify-content: center; align-items: center;}
img.WRe { height: 60px; margin-right: 5px; } 
img.serch { height: 52px; }
input[type="text"]{ outline: none; border: solid 1px #46B1E1;
    height: 50px; width: 360px;
}
ul.link { border: solid 1px red; 
display: flex; align-items: center; width: 70%; margin: 0 15% 0 15%;
}
li.link { display: inline; margin-right: 1px;}
nav { margin: 2% 10% 1% 10%; border-bottom: solid 2px #46B1E1;
display: flex;
}
h2 { border: solid 2px #46B1E1; border-bottom: none; width: 7%; 
    font-size: 20px; text-align: center;
}

input[type='button']{
    outline: none; background-color: white;
    width: 23px; height: 23px; border:solid 1px #46B1E1; border-radius: 50%;
}

.arrow {
    position: relative;
}

.arrow::after {
    position: absolute;
    left: 0; 
    top: 0; 
    content: '';
    width: 50px; /* 사이즈 */
    height: 50px; /* 사이즈 */
    border-top: 5px solid #000; /* 선 두께 */
    border-right: 5px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
}