*{ padding: 0; margin: 0; font-size: 13px; list-style: none; }
body{
    color: #46B1E1; user-select: none;
}
header{ border: solid 1px red; 
    display: flex; justify-content: space-between;
}
a{ text-decoration: none; color: #46B1E1; user-select: none;
    margin-left: 5px; margin-right: 5px;
}
a.link { font-size: 19px; margin-bottom: 10px;}
a#select { font-size: 22px; font-weight: bold; }
img.menu{ margin: 5px 0 0 5px;
    width: 50px; height: 50px; 
}
div.serch{ display: flex; justify-content: center; align-items: center;}
img.WRe { height: 60px; margin-right: 5px; } 
img.serch { height: 52px; }
input[type="text"]{ outline: none; border: solid 1px #46B1E1;
    height: 50px; width: 360px;
}
ul.link { border: solid 1px red; 
display: flex; align-items: center; width: 70%; margin: 0 15% 0 15%;
}
li.link { display: inline; margin-right: 1px;}
nav { margin: 2% 10% 0% 10%;
display: flex; align-items: center;
}
na.b{ border-bottom: solid 2px #46B1E1; margin-left: 11px; width: 1119px;}
na.t{ border-top: solid 2px #46B1E1; margin-left: 11px; width: 1119px;}
h2 { width: 5%; 
    font-size: 22px; text-align: center;
}
div.arrow{ display: flex; justify-content: center; align-items: center; width: 20%;
    font-size: 22px;
}
div.num { position: relative; display: flex; justify-content: space-between; align-items: center;
     width: 30%; left: 380px;
}

input[type='button'].arrow-left,
input[type='button'].arrow-right,
input[type='button'].arrow-down {
    position: relative; border: solid 1px #46B1E1; background-color: white;
    display: flex; align-items: center;
    width: 22px; height: 22px; border-radius: 50%;
}
input[type='button'].arrow-down { width: 25px; height: 25px; }
a.arrow-left,
a.arrow-right {
    display: flex; width: 22px; height: 22px; border-radius: 50%;
}
.arrow-left::after {
    position: absolute; top: 15px; left: 12px;
    content: ''; width: 9px; height: 9px;
    border-top: solid 2px #46B1E1; border-right: solid 2px #46B1E1;
    transform: rotate(225deg);
}
.arrow-right::after {
    position: absolute; top: 15px; left: 314px;
    content: ''; width: 9px; height: 9px;
    border-top: solid 2px #46B1E1; border-right: solid 2px #46B1E1;
    transform: rotate(45deg);
}
.arrow-down::after {
    position: absolute; top: 200px; left: 219px;
    content: ''; width: 10px; height: 10px;
    border-top: solid 3px #46B1E1; border-right: solid 3px #46B1E1;
    transform: rotate(135deg);
}
div.center{ display: flex; margin: 0px 10% 1% 10%; }
div.sidmenu { height: 400px; width: 7%; }
div.bookmenu { height: auto; width: 1119px; margin-left: 1%;
    border-left: solid 2px #46b0e1a7; border-right: solid 2px #46b0e1a7;
}
li.select { font-size: 16px; text-align: center; font-weight: bold;
    margin: 3px 0 3px 0;
}
li.nonesele { text-align: center;
    margin: 10px 0 10px 0;
}
a.fs { font-size: 15px; }
span.select { position: absolute; color: white;
    font-size: 16px; font-weight: bold;
}
div.select { display: flex; justify-content: center; align-items: center; }
div#newbook { margin: 4% 22px 4% 22px; }
article{ border: solid 1px #46B1E1; background-color: #46b0e1a7; height: 200px; width: 150px; }
p.ml { font-size: 18px;}
p.sl { font-size: 10px;}
p.l { font-size: 15px;}
input[type=checkbox]{ display: none; }
input[type=checkbox] + label{ display: inline-block;
    border:solid 1px #46B1E1; height: 22px; width: 22px;
}

input[id="check"]:checked + label::after{
    content: '✔️';
}
section{ display: flex; justify-content: space-between;}
img.nolike { height: 25px; width: 25px;}
p#flex { display: flex; justify-content: space-between; align-self: center; }
input[type=button].buy{
    background-color: white; text-align: center; color: #3992bb;
    border: solid 1.5px #46B1E1; border-radius: 8px;
    width: 50px; height: 25px; 
}
input[type=button].buy:hover{
    background-color: silver;
}
tlqkf{ display: flex; justify-content: space-between; align-items: center; 
    width: 80px;
}